.FirstSection {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    flex-direction: column;
}

.FirstSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backgroundImages/oneBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: changesBg ;
    animation-duration: 27s;
    animation-iteration-count: infinite;
    
}
     @keyframes changesBg {
        10% {
background-image: url(../../../public/backgroundImages/oneBg.jpg);
        }
        50% {
background-image: url(../../../public/backgroundImages/sevenBg.jpg);
        }
      
    90% {
        background-image: url(../../../public/backgroundImages/nineBg.jpg);
    }
   
    } 




.headOneMain {
font-size: 2.2em;
font-weight: 760;
color: rgb(255, 255, 255);
text-align: center;

width: 63%;
margin: auto;
z-index: 999;
}
.btnJoinUs {
    z-index: 999;
    border-radius: 12px;
    background-color: rgb(0, 0, 198);
    color: white;
    padding: 10px 13px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
    outline: none;
    border: 0;
font-weight: 700;
font-size: 1.3em;   
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around; 
}
.iconArrowJoin {
    padding-left: 10px;
}
@media (max-width:1040px) {
    
    .headOneMain {
        font-size: 2em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-align: center;
        
        width: 63%;
        margin: auto;
        z-index: 999;
        }
}
@media (max-width:756px) {
    
    .headOneMain {
        font-size: 1.8em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-align: center;
        
        width: 75%;
        margin: auto;
        z-index: 999;
        }
}
@media (max-width:556px) {
    
    .headOneMain {
        font-size: 1.8em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-align: center;
        
        width: 85%;
        margin: auto;
        z-index: 999;
        }
}
@media (max-width:376px) {
    
    .headOneMain {
        font-size: 1.4em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-align: center;
        
        width: 85%;
        margin: auto;
        z-index: 999;
        }
        .btnJoinUs {
        
            padding: 10px 16px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 100px;
            outline: none;
            border: 0;
        font-weight: 700;
        font-size: 1.1em;   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 
        }
}
@media (max-width:318px) {
    .headOneMain {width: 90%;}
}
@media (max-width:433px) {
    .headOneMain {width: 90%;
    font-size: 1.2em;
    }
}
.secontSection {
    height: 60vh;
    padding: 60px 20px;
    width: 75%;
    margin: auto;
    text-align: center;
}
.secontSection h2 {
    font-size: 1.5em;
    color: rgb(88, 88, 88);
}
.iconss {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top:20px ;
}
@media (max-width:1000px) {
    
    .secontSection {
        height: 60vh;
        padding: 60px 10px;
        width: 85%;
        
    }
   }
   @media (max-width:802px) {
    
    .secontSection {
        height: 60vh;
        padding: 60px 10px;
        width: 90%;
        
    }
    .secontSection h2 {
        font-size: 1.3em;
    }
   }
   @media (max-width:570px) {
    
    .secontSection {
        height: 60vh;
        padding: 60px 10px;
        width: 96%;
        
    }
    .secontSection h2 {
        font-size: 1.1em;
    }
   }
   @media (max-width:435px) {
    
    .secontSection {
        height: 60vh;
        padding: 60px 10px;
        width: 96%;
        
    }
    .secontSection h2 {
        font-size: .9em;
    }
   }
   .thirdSection {
    width: 75%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

   }
.oneImagesl {
width: 68%;
height: 80%;
border-radius: 12px;

}
.twoImagesL {
width: 28%;
height: 80%;
border-radius: 12px;
}
.mopilePho {
    height: 600px;
    width: 320px;
    margin: auto;
    position: absolute;
}
@media (max-width:1250px) {
    .thirdSection {
        width: 50%;
        margin: auto;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
       }
    .oneImagesl {
    width: 68%;
    height: 80%;
    border-radius: 12px;
    
    }
    .twoImagesL {
    width: 28%;
    height: 80%;
    border-radius: 12px;
    }
    .mopilePho {
        height: 400px;
        width: 220px;
        margin: auto;
        position: absolute;
    }
    
}
@media (max-width:517px) {
    .mopilePho {
        height: 250px;
        width: 100;
    }
}
.fourthSection {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.contentFourthSection {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    height: 400px;
    background-color:rgb(192, 218, 235);
}
.contentFourthSection img {
    height: 100%;
    width: 50%;
    border-radius: 25px 0 0 25px;
}
.aboutMan 
{
    width: 50%;
    text-align: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutMan h3 {
    font-size: 1.5em;
    line-height: 40px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(68, 68, 68);
}
.aboutMan p:nth-child(3) {
color: rgb(88, 88, 88);
font-weight: 600;
font-family: sans-serif;
}
@media (max-width:945px) {
    .contentFourthSection {
        width: 80%;
        margin: auto;
flex-direction: column;
min-height: max-content;
height: max-content;
    }
    .contentFourthSection img {
        height:50%;
        width: 100%;
        border-radius: 25px 25px 0 0;
    }
    .aboutMan 
    {
        width: 80%;
        text-align: center;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .aboutMan h3 {
        font-size: 1.1em;
        line-height: 40px;
        font-family: sans-serif;
        font-weight: 600;
        color: rgb(68, 68, 68);
    }
    .aboutMan p:nth-child(3) {
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-family: sans-serif;
    }



}
@media (max-width:514px) {
    .aboutMan 
    {
        width: 95%;
        text-align: center;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .aboutMan h3 {
        font-size: 1.1em;
        line-height: 40px;
        font-family: sans-serif;
        font-weight: 600;
        color: rgb(68, 68, 68);
    }
    .aboutMan p:nth-child(3) {
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-family: sans-serif;
    }

}
@media (max-width:400px) {
    .aboutMan 
    {
        width: 100%;
        text-align: center;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .aboutMan h3 {
        font-size: 1.1em;
        line-height: 40px;
        font-family: sans-serif;
        font-weight: 600;
        color: rgb(68, 68, 68);
    }
    .aboutMan p:nth-child(3) {
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-family: sans-serif;
    }

}
@media screen and (min-width:732px) and (max-width:941px) {
    .aboutMan h3 {
        font-size: 1.3em;
    }
}