footer {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(197, 197, 197, 0.2);
    padding-top: 10px;
    z-index: 999;

}
.FirstHalfFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.IconTittle {
    display: flex;
    flex-direction: row;
}
.IconTittle img {
    width: 54px;
}
.IconTittle .fontTiltle {

font-size: 1.9em;
font-weight: 600;

}
.contentLinks {
    display: flex;
    flex-direction: row;
    gap: 100px;
    direction: rtl;
    width: 70%;
}
.oneRowLinksFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
gap: 100px;
}
.twoRowLinksFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
.decorationnone {
text-decoration: none;
color: rgb(83, 83, 83);
font-weight: 600;
}
.SecondHalfFooter {
    padding: 20px 50px;
    margin: auto;
    text-align: center;
    color: rgb(83, 83, 83);

}
.imgGooglePlay {
    width: 100%;
    text-align: center;
    }
    .imgGooglePlay img {width: 160px;}
    hr {
        width: 70%;
        margin: auto;
        color: rgb(110, 110, 110);
    }
    .thirdHalfFooter {
        padding: 10px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .thirdHalfFooter p {color: rgb(110, 110, 110); font-weight: 600;}

    @media (max-width:1077px) {
        
        .FirstHalfFooter {
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            align-items: center;
            padding:  0 0;
        }
        .IconTittle {
            display: flex;
            flex-direction: row;
            width: 40%;
            align-items: center;
        }
        .IconTittle img {
            width: 80px;
            height: 80px;
        }
        .IconTittle .fontTiltle {
        
        font-size: 1.6em;
        font-weight: 600;
        
        }
        .contentLinks {
            display: flex;
            flex-direction: row;
            gap: 50px;
            direction: rtl;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }
        .oneRowLinksFooter {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        gap: 30px;
        }
        .twoRowLinksFooter {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 30px;
        }
    }




    @media (max-width:800px) {
        .FirstHalfFooter {
            display: flex;
            flex-direction: column;
direction: ltr;
justify-content:left;
            padding:  0 0;
        }
.IconTittle {
    width: 90%;
}
.contentLinks {
    width: 90%;
    direction: ltr;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

 
}
@media (max-width:427px) {
    
    .decorationnone {
        text-decoration: none;
        color: rgb(83, 83, 83);
        font-weight: 600;
        font-size: 1em;
        }



}
@media (max-width:345px) {
    
    
    .contentLinks {
        display: flex;
        flex-direction: column;
        direction: ltr;

    }
    .oneRowLinksFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    gap: 30px;
    }
    .twoRowLinksFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
    }


}
@media (max-width:703px) {
   .SecondHalfFooter   {
padding: 20px 10px;
width: 100%;
font-size: .9em;

   } 

}
@media (max-width:500px) {
    .SecondHalfFooter   {
 padding: 20px 10px;
 width: 100%;
 font-size: .8em;
    } 
 
 }